<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>成长日记-错误500</title>
    <div th:replace="nav :: css"></div>

</head>
<body>
<div class="jumbotron" style="width: 60%;
    text-align: center;
    border-radius: 10px;
    border: 1px solid green;
    background: cornsilk;
    /* margin: 91px; */
    margin: 85px auto;">
    <h2>出错啦！！！</h2>
    <p>没有找到页面  --></p>
    <p><a class="btn btn-primary btn-lg" href="/" role="button">点击跳转到首页</a></p>
</div>

</body>
</html>